<dialog-action>
    <button (click)="onSubmit($event)" class="done_outline" autofocus="false" mat-button>
        <mat-icon class="big-icon" style="font-size: 25px;">done_outline</mat-icon>
    </button>

    <button class="clear" autofocus="false" mat-dialog-close mat-button>
        <mat-icon class="big-icon" style="font-size: 25px;">clear</mat-icon>
    </button>
</dialog-action>





<form-content formTitle="Stok Kart">
    <form class="form" [formGroup]="frm">
        <common-input label="Ad" [formControlNames]="ad"></common-input>
        <common-input label="Kod" [formControlNames]="kod"></common-input>
        <common-input label="Stok Grup" [formControlNames]="stokGrup"></common-input>
        <common-input type="number" label="Birim Fiyat" [formControlNames]="birimFiyat"></common-input>
        <birim-select-input label="Birim"  [formControlNames]="birimId"
            (childFunc)="birimFunc($event)"></birim-select-input>
    </form>
</form-content>