<app-normal-dialog-content layoutName="Tezgah Select" [tableActions]="false" [topActions]="false">


    <div class="close-dialog">
      <button class="item" name="close" mat-dialog-close>
        <i class="fa fa-close"></i>
      </button>
    </div>
  
  
  
  
    <div class="table-layout-content">
  
      <div class="content-detay" style="position: relative;">
        Tezgah SEÇİM LİSTESİ
  
        <div style="position: absolute; right: 0; font-size: 12px;">
          Tezgah Sayısı : <span style="color: red;">{{10000000 | number:'1.0-2' }} </span>
        </div>
      </div>
      <div class="table-display-none activeSelectCategori">
  
        <p-table #dt1 [value]="dataSource">
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width:150px;" pSortableColumn="kod">Kod <p-sortIcon field="kod"></p-sortIcon></th>
              <th style="min-width:300px;" pSortableColumn="ad">Ad <p-sortIcon field="ad"></p-sortIcon></th>
              <th style="min-width:100px;" pSortableColumn="aciklama">Açıklama<p-sortIcon field="aciklama"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <th>
                <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                  (input)="dt.filter(getFilter($event),'kod', 'contains')" class="p-column-filter">
              </th>
              <th>
                <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                  (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
              </th>
              <th>
                <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                  (input)="dt.filter(getFilter($event),'aciklama', 'contains')" class="p-column-filter">
              </th>
  
            </tr>
          </ng-template>
        </p-table>
  
        <div style="overflow-y: scroll; height: 350px;">
          <p-table #dt [value]="dataSource"  selectionMode="single"
          [(selection)]="selectedTezgah" dataKey="id" (onRowSelect)="onRowSelect($event)"
          [(contextMenuSelection)]="selectedTezgah">
          <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr [style]="customer.durum==false?'background-color: rgb(227 227 227)':''"
            [pSelectableRow]="customer" [pSelectableRowIndex]="rowIndex"
            [pSelectableRowDisabled]="customer.durum==false?true:false" (dblclick)="selectedDbClickTezgah(customer)"
              [pContextMenuRow]="customer" [pSelectableRow]="customer">
              <td style="width: 100px;">{{customer.kod}}</td>
              <td>{{customer.ad}}</td>
              <td>{{customer.durum}}</td>
            </tr>
          </ng-template>
        </p-table>
        </div>
        
      </div>
  
  
  
  
    </div>
  
    <div class="form_actions">
      <div style="
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid #757575;
      border-radius: 5px;
      ">
        <div class="ribbon-section" style="height: 40px;">
          <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
            style="height: 40px; display: flex; justify-content: center;align-items: center;">
            <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
              src=" ../../assets/icons/actions/save.png">
            <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
              src=" ../../assets/icons/actions/save.png">
            <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
              src=" ../../assets/icons/actions/save.png">
            <div style="font-size: 14px; font-weight: 600;margin-left: 5px;">
              KAYDET
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-normal-dialog-content>