@import "src/assets/resizeble-panel";
@import "src/assets/resizable-table-columns.min";
@import "src/assets/scss/primeNg/primeNG-styles";
@import "src/assets/ribbon-tab";
@import "src/assets/soft_button";
@import "src/assets/css/dx-light";



:host ::ng-deep{
    .p-datatable .p-datatable-footer {
        background: #f8f9fa;
        color: #343a40;
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
        padding: 1rem 1rem;
        font-weight: 700;
        position: sticky;
        bottom: 0;
        text-align: end;
    }

    


.activeSelectCategori{
    display: block !important;
}
.table-display-none{
    display: none;
}
}   




:host ::ng-deep .p-rowgroup-footer td {
    font-weight: 700;
  }
  
  :host ::ng-deep .p-rowgroup-header {
    span {
        font-weight: 700;
    }
  
    .p-row-toggler {
        vertical-align: middle;
        margin-right: .25rem;
    }
  }