<div class="ribbon-tab" id="format-tab" style="display: block; height: 93px;" >
    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Kartlar</span>
        <div [routerLink]="['/maliyet/recete-kart']" [routerLinkActive]="['active']" class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/maliyet/work_breakdown_structure.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/maliyet/work_breakdown_structure.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/maliyet/work_breakdown_structure.png">
            <span class="button-title" unselectable="on">Reçete<br>Kart</span>
        </div>
        <div  class="ribbon-button ribbon-button-large" id="open-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will open a table and add it to your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/maliyet/process.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/maliyet/process.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/maliyet/process.png">
            <span class="button-title" unselectable="on">Proses<br>Kart</span>
        </div>
        <div  class="ribbon-button ribbon-button-large " id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/maliyet/inventory_categories.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/maliyet/inventory_categories.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/maliyet/inventory_categories.png">
            <span class="button-title" unselectable="on">Kategori<br>Kart</span>
        </div>
    </div>
    <div class="ribbon-section-sep" unselectable="on"></div>

</div>