// @import "src/assets/layout/styles/primeNG/_component-select-input.scss";
@import "src/assets/scss/material/_dialogtittle.scss";
@import "src/assets/scss/primeNG/primeNG-styles.scss";


:host ::ng-deep{

    .select-container{
      display: block;
      grid-template-columns: 80px auto;
      margin: 0px 0px;

      .p-inputtext {
        padding: 0.25rem 0.75rem !important;
        width: 100% !important;
        border-radius: 0 !important;
        border-width: 0 0 0px 0 !important;
        color: black !important;
        font-weight: 400 !important;
        border-radius: 0 !important;
        background: transparent;
    }
    
    .p-inputtext.p-inputtext-sm {
        font-size: 1.1rem !important;
        padding: 0.25rem 22px 0.25rem 0.5625rem  !important;
        border-width: 0 0 0px 0;
        border-radius: 0 !important;
    }
    
    .p-inputtext{
        height: 20px !important;
    }
    
    .p-inputtext:enabled:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0rem #bfdbfe !important;
        border-color: #3B82F6;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
         -webkit-appearance: none; 
         margin: 0; 
    }


      .selectButton-insert {
        position: absolute; top:0; right: 0px;
          .p-button.p-button-icon-only{
            width: 19px;
            height: 19px;
            padding: 0.75rem 0;
          }
            .fa-pencil{
             color: black;
            }
    
            .p-button{
                color: #ffffff;
                background: transparent;
                border: none !important;
                border-radius: 50%;
                box-shadow: none !important;
            
            }
            .p-button:enabled:hover{
                background-color: #d4d4d4;
            }
        }
       .selectButton-update {
        position: absolute; top:0; right: 0px;
          .p-button.p-button-icon-only{
            width: 19px;
            height: 19px;
            padding: 0.75rem 0;
          }
            .fa-pencil{
             color: black;
            }
    
            .p-button{
                color: #ffffff;
                background: transparent;
                border: none !important;
                border-radius: 50%;
                box-shadow: none !important;
            
            }
            .p-button:enabled:hover{
                background-color: #d4d4d4;
            }
        }
       .selectButton-delete  {
        position: absolute; top:0; right: 0px;
          .p-button.p-button-icon-only{
            width: 19px;
            height: 19px;
            padding: 0.75rem 0;
          }
            .fa-pencil{
             color: black;
            }
    
            .p-button{
                color: #ffffff;
                background: transparent;
                border: none !important;
                border-radius: 50%;
                box-shadow: none !important;
            
            }
            .p-button:enabled:hover{
                background-color: #d4d4d4;
            }
        }
    }
  
  
  
  }

