


<app-small-dialog-content layoutName="Stok Card ekleme" [tableActions]="false" [formTopActions]="true"
    [tableContent]="false">

    <div class="close-dialog">
        <button class="item" name="close" mat-dialog-close>
            <i class="fa fa-close"></i>
        </button>
    </div>


    <div class="grid_container_content">
        <aside class="aside">
            <div class="title-kart">
                STOK KART
            </div>
            <form class="form" [formGroup]="frm">
                <common-input label="Ad" [formControlNames]="ad" [field]="data.ad"></common-input>
                <common-input label="Kod" [formControlNames]="kod" [field]="data.kod"></common-input>
                <common-input label="Stok Grup" [formControlNames]="stokGrup" [field]="data.stokGrup"></common-input>
                <common-input type="number" label="Birim Fiyat" [formControlNames]="birimFiyat" [field]="data.birimFiyat"></common-input>
                <birim-select-input label="Birim"  [formControlNames]="birimId" [field]="data.birimAdi"
                    (childFunc)="birimFunc($event)" ></birim-select-input>
            </form>
        </aside>



    </div>
    <div class="form_actions" (click)="onSubmit()">
        <div style="width: 100%;display: flex;;
        align-items: center;">
          <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 27px;
          /* display: flex; */
          align-items: center;
          gap: 5px;
          /* margin: 5px; */
          border: 1px solid #515050;
          position: absolute;
          right: 0;
          top: 5px;">
            Kaydet
          </div>
        </div> 
      </div> 
</app-small-dialog-content>