<!-- <div style="position: fixed;margin-left: 4px;">
    <div id="window" class="window" style="height: 300px; width:calc(100vw - 10px); min-height:calc(100vh - 176px); ">
        <div id="draggable-header" class="top-bar">
            <div class="title">Stok Kart </div>
            <div class="toolbar">
                <button class="item" name="close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
        <div id="draggable-header" class="top-bar"
            style="border: none; background-color: transparent;margin-bottom: 0;">
            <div class="title" style="background: linear-gradient(to bottom, #ffffff 0%, #bbbbbb 100%); width: 100%; ">
                <div class="ribbon-section" style="height: 36px;">
                    <div (click)="addOpenDialog()" class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                        style="height: 36px;">
                        <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                            src=" ../../assets/icons/actions/folder_add.png">
                        <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                            src=" ../../assets/icons/actions/folder_add.png">
                        <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                            src=" ../../assets/icons/actions/folder_add.png">

                    </div>

                </div>
                <div class="ribbon-section" style="height: 36px;">
                    <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                        style="height: 36px;">
                        <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                            src=" ../../assets/icons/actions/folder_down.png">
                        <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                            src=" ../../assets/icons/actions/folder_down.png">
                        <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                            src=" ../../assets/icons/actions/folder_down.png">

                    </div>

                </div>
                <div class="ribbon-section" style="height: 36px;">
                    <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                        style="height: 36px;">
                        <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                            src=" ../../assets/icons/actions/erase_registry.png">
                        <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                            src=" ../../assets/icons/actions/erase_registry.png">
                        <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                            src=" ../../assets/icons/actions/erase_registry.png">

                    </div>

                </div>




            </div>

        </div>
        <div class="content" style="overflow-x: scroll;">







            <div class="tree-content" >
                <mat-tree [dataSource]="treeSource" [treeControl]="treeControl" [trackBy]="trackBy"
                    style="margin-top: 20px; position: relative;">

                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle 
                        (contextmenu)="onContextMenu($event, node)" (contextmenu)="activeNode = node"
                        [ngClass]="{ 'background-highlight': activeNode === node }" (click)="activeNode = node"
                        [ngClass]="{ 'background-highlight': activeNode === node }">

                        <li class="mat-tree-node">
                            <button mat-icon-button disabled></button>
                            <img *ngIf="node.parentId!=null" width="25px" height="25px" class="mr-2" 
                                src="../../assets/icons/actions/compare_documents.png" alt="" >
                            <img *ngIf="node.parentId==null " width="25px" height="25px" class="mr-2"
                            src="../../assets/icons/actions/compare_documents.png" alt="">
                            {{node.name}}

                        </li>


                    </mat-tree-node>

                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" 
                        (contextmenu)="onContextMenu($event, node)" (contextmenu)="activeNode = node">
                        <li class="mat-tree-node" [ngClass]="{ 'background-highlight': activeNode === node }"
                            (click)="activeNode = node" [ngClass]="{ 'background-highlight': activeNode === node }">
                            <div class="mat-tree-node">
                                <button  mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror" style="opacity: 0.7; font-size: 18px;">
                                
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon> 

                                  
                                </button>
                                <img *ngIf="node.parentId!=null" width="25px" height="25px" class="mr-2"
                                    src="../../assets/icons/actions/folder.png" alt="">
                                <img *ngIf="node.parentId==null " width="25px" height="25px"
                                    src="../../assets/icons/actions/folder.png" class="mr-2" alt="">{{node.name}}
                            </div>
                        </li>
                        <ul [class.children-invisible]="!treeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                        </ul>
                    </mat-nested-tree-node>
                </mat-tree>
            </div>

            <div style="flex: 1;  ">
                <div class="tree-detay-content" >
                    <common-input label="Stok Kodu" [formControlNames]="stokKod"></common-input>
                     <common-input label="Stok Kısa Ad" [formControlNames]="stokKisaAd"></common-input>
                    <common-input label="Stok Türü" [formControlNames]="stokTuru"></common-input>
                    <common-input label="Alıs KDV Oranı" [formControlNames]="alisKdvOrani"></common-input>
                    <common-input label="Satıs KDV Oranı" [formControlNames]="satisKdvOrani"></common-input> 
                   
                
                </div>
            </div>

        </div>


        <div class="footer">
            <div class="content">
                footer
            </div>
            <div id="draggable-resize" class="resize"></div>
        </div>
    </div>

</div>



<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="addOpenDialog(item)">
            <img width="25px" height="25px" src="../../assets/icons/actions/folder.png" alt=""
                style="margin-right:15px;">
            <span>Ekle</span>
        </button>

        <button mat-menu-item (click)="sil(item)">
            <img width="25px" height="25px" src="../../assets/icons/actions/compare_documents.png" alt=""
                style="margin-right:15px;">
            <span>Sil</span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu>
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
    </button>
</mat-menu> -->






<layout-content layoutName="Maliyet Kart">

    <div class="sidebar-add-layout-content">

        <div class="ribbon-section"  style="height: 40px;margin-bottom: 3px;">
            <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/folder_add.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/folder_add.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/folder_add.png">

            </div>

        </div>
        <div class="ribbon-section"  style="height: 40px; margin-bottom: 3px;">
            <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/folder_down.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/folder_down.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/folder_down.png">

            </div>

        </div>
        <div class="ribbon-section" style="height: 40px; margin-bottom: 3px;">
            <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/erase_registry.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/erase_registry.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/erase_registry.png">

            </div>

        </div>


    </div>

    <div class="sidebar-layout-content">
         <ng-template #nodeTemplate let-nodes="nodes" let-tree="tree">
            <ng-container *ngFor="let node of nodes">
                <div class="menu-node" (click)="TreeItemSelect(node)" [ngClass]=" { 'menu-node-tree' : tree }"
                    style="position: relative;">
                    <div (click)="toggleVisible(node)" class="menu-node-button "
                        [ngClass]="{ 'menu-node-button-show': node.submenu && node.submenu?.length,'menu-node-button-plus': !expand[node.index],'menu-node-button-minus': expand[node.index] } "
                        role="button">
                    </div>
                    <div class="menu-node-name" [ngClass]="{
                 'menu-node-name-selected': (node === selectedNode),'menu-node-folder':(node.submenu?.length>0)}"
                        (click)="selectNode(node)">


                        <img *ngIf="node.submenu?.length>0" src=" ../../assets/icons/actions/received_files.png"
                            class="title-icon" alt="">

                        <img *ngIf="node.submenu==undefined" src=" ../../assets/icons/actions/list.png"
                            class="title-icon" alt="">
                        {{ node.ad }}
                    </div>
                    <div class="view-icon-content" (click)="TreeItem(node)" *ngIf="node.submenu?.length>0">
                        <img src="../../assets/icons/actions/view_details.png" class="title-icon view-icon" alt="">
                    </div>
                    <ng-container *ngIf="node.submenu && node.submenu?.length && expand[node.index] ">
                        <ng-template [ngTemplateOutlet]="nodeTemplate"
                            [ngTemplateOutletContext]="{ nodes: node.submenu, tree: true }">
                        </ng-template>
                    </ng-container>
                </div>
            </ng-container>
        </ng-template>

        <ng-template [ngTemplateOutlet]="nodeTemplate" [ngTemplateOutletContext]="{ nodes: menu, tree: false }">
        </ng-template> 
    </div>


    <div class="table-action-layout-content" >

    
            <div class="ribbon-section"  style="height: 40px;margin-bottom: 3px;">
                <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                    style="height: 40px;">
                    <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/clipboard_add.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/clipboard_add.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/clipboard_add.png">

                </div>

            </div>
            <div class="ribbon-section"  style="height: 40px;margin-bottom: 3px;">
                <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                    style="height: 40px;">
                    <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/erase_registry.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/erase_registry.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/erase_registry.png">

                </div>

            </div>
            <div class="ribbon-section"  style="height: 40px;margin-bottom: 3px;">
                <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                    style="height: 40px;">
                    <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/edit.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/edit.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/edit.png">

                </div>

            </div>
      


    </div>



<div class="table-layout-content">
   
        <p-table [value]="dataSource" [tableStyle]="{'min-width': '50rem'}" selectionMode="single"
             responsiveLayout="scroll" [resizableColumns]="true"
            [scrollable]="true" scrollHeight="calc(100vh - 395px)" columnResizeMode="expand" selectionMode="single"
            >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: auto;min-width:350px; color: #959595 !important;">
                        Name</th>
                    <th style="width:350px;color: #959595 !important;">
                        Stok Adı</th>
                    <th style="width:100px;color: #959595 !important;">
                        Stok Turu</th>
                    <th style="width:75px;color: #959595 !important;">
                        Adet</th>
                    <th style="width:75px;color: #959595 !important;">
                        Miktar</th>
                    <th style="width:75px;color: #959595 !important;">
                        Birim Adı</th>
                    <th style="width:75px;color: #959595 !important;">
                        Birim Fiyat</th>
                    <th style="width:100px;color: #959595 !important;">
                        Top. Maliyet</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr [pSelectableRow]="product">
                    <td>{{product.ad}}</td>
                    <td>{{product.stokAdi}}</td>
                    <td>{{product.stokTuru}}</td>
                    <td>{{product.adet}}</td>

                    <td>
                        <div matTooltip="{{product.olcu}}" [matTooltipPosition]="'right'"
                            *ngIf="product.birimAdi!='Adet'">{{product.miktar | number:'1.1-2' }}</div>
                        <div matTooltip="{{product.olcu}}" [matTooltipPosition]="'right'"
                            *ngIf="product.birimAdi=='Adet'">-</div>
                    </td>
                    <td>{{product.birimAdi}}</td>
                    <td>{{product.birimFiyat}}</td>
                    <td style="font-weight: 600; font-size: 16px;">
                        <div *ngIf="product.birimAdi!='Adet'">
                            {{product.birimFiyat *( product.miktar)*(
                            product.adet) |currency:'TRY':'₺':'0.2-2'}}
                        </div>
                        <div *ngIf="product.birimAdi=='Adet'">
                            {{product.birimFiyat *( product.adet)
                            |currency:'TRY':'₺':'0.2-2'}}</div>
                    </td>
                </tr>
            </ng-template>



        </p-table>
  

    </div>
</layout-content>