@import "src/assets/resizeble-panel";
@import "src/assets/resizable-table-columns.min";
@import "src/assets/scss/primeNg/primeNG-styles";
@import "src/assets/ribbon-tab";
@import "src/assets/soft_button";
:host ::ng-deep{
  .p-datatable-table{
      width: 700px !important;
  }
    .p-scroller {
        height: 700px  !important;
    }
    .table>:not(caption)>*>* {
       padding:0 !important; 
    }










    .mat-tree-node {
        cursor: pointer;
        padding: 15px 0;
        // margin-top: 15px;
        // margin-bottom: 15px;
        min-height: 25px !important;
        max-height: 25px !important;
        width: 100%;
        position: relative;
      }
      .mat-tree{
        margin-top: 0px;
        height: calc(100% - 20px);
        width: 100%;
        min-width: 525px;
        overflow-x: auto;
      }
      
      
      .background-highlight {
        // background-color: rgb(223, 223, 223);
        background-color: whitesmoke;
      
      }
      
      
      
      
      
      
      .tree-content{
        border: 1px solid #e3e3e3;
        width: 600px;
        box-shadow: inset 1px 0 4px 0px;
        height: 100%;
        padding: 10px;
        min-height: 500px;
      }
      .tree-detay-content{
        border: 1px solid #e3e3e3;
        width: 100%; min-width: 800px;
        box-shadow: inset 1px 0 4px 0px;
        height: 100%;
        min-height: 500px;
        padding: 20px 10px;
      }

      .mat-icon-button {
        padding: 0;
        min-width: 0;
        width: 26px;
        height: 26px;
        flex-shrink: 0;
        line-height: 26px;
        border-radius: 50%;
    }
   
}

:host ::ng-deep{
      
    .example-container {
        width: 100%;
        margin: 0px;
        border: 1px solid transparent;
      }
      .mat-drawer-inner-container {
        width: 555px;
        height: 100%;
        overflow: hidden;
    }
      mat-drawer-content {
        padding: 12px;
        // display: block;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -319px !important;
        margin-right: 550px !important;
      }
    .test-class{
        // display: none;
         display: flex;
    }
    .test-class:hover{
        .pi{
            opacity: 0.8;
         
        }
    }
    .pi{
        opacity: 0.4;
        font-size: 1.4rem;
    }
    .stok-property-card{
        .p-card{
            width: 100% !important;
            height: calc(100vh - 132px)!important;
            margin: 10px 10px 10px 0 !important;
            background-color: #f8f8f8 !important;
        }
  .dialog-card{
    .p-card{
        width: 100% !important;
        height: 100%!important;
        margin: 10px 10px 10px 0 !important;
        background-color: #f8f8f8 !important;
    }
  }
        p-card{
            width: 100% !important;
        }
        .p-card .p-card-body{
            padding: 0 !important;
        }
    }
    .mat-drawer:not(.mat-drawer-side) {
        box-shadow: none !important;
    }
    .p-inputtext.p-inputtext-sm {
        font-size: 1rem !important;
    }
    .mat-tree-node:hover{
        background-color: #f8f8f8 !important;
        .test-class{
            display: flex;
        }
        
    }
  }
  
  
  
  
  
  
  mat-tree {
    ul, li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
      width: 100%;
      min-width: 500px;
    }
  }
  
  .children-invisible {
    display: none;
  }
  
  .mat-icon.mat-icon-inline {
  
    display: contents;
  }











































      .menu-node {
        padding-left: 16px;
      }
      .menu-node-button {
        width: 16px;
        height: 16px;
        border: 1px solid silver;
        border-radius: 3px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
        visibility: hidden;
        cursor: pointer;
        position: relative;
        background-color: white;
      }
      .menu-node-button:hover {
        background-color: #eee;
      }
      .menu-node-button-show {
        visibility: visible;
      }
      .menu-node-button-plus:after {
        position: absolute;
        content: "+";
        font-family: monospace;
        font-size: 16px;
        line-height: 1em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }
      .menu-node-button-minus:after {
        position: absolute;
        content: "-";
        font-family: monospace;
        font-size: 16px;
        line-height: 1em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }
      .menu-node-name {
        font-size: 18px;
        font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
        color: #464646;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        font-style: italic;
        font-weight: 500;
        font-family: "times new roman", serif;
        width: calc(100% - 30px);
        padding: 5px 0;
      }
      .menu-node-name:hover {
        color: #666;
        // background-color: rgb(250, 250, 250);
      }
      .menu-node-name-selected {
        color: #242424;
        font-weight: 500;
        text-decoration: none;
        background-color: rgb(238, 238, 238);

      }
      .menu-node-tree {
        position: relative;
      }
      .menu-node > .menu-node-tree::after {
        content: " ";
        position: absolute;
        left: 8px;
        top: 0;
        bottom: 0;
        width: 4px;
        border-left: 1px dotted silver;
      }
      .menu-node > .menu-node-tree:last-of-type::after {
        bottom: 8px;
      }
      .menu-node > .menu-node-tree::before {
        content: " ";
        position: absolute;
        left: 8px;
        top: 0;
        bottom: 15px;
        width: 32px;
        border-bottom: 1px dotted silver;
      }

.test{
  font-size: 17px;
  font-weight: 600;
  color: #464646 !important;
}



