@import "src/assets/scss/primeNG/_component-input.scss";


:host ::ng-deep{
    .p-dropdown {
        background: #ffffff;
        border: 1px solid transparent;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s; 
        border-radius: 6px;
        background-color: #E8F0FE !important;
        width: 100px !important;
        .p-inputtext {
            padding: 0.5rem 0.75rem !important;
            text-align: left;
        }
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        margin: 0;
        padding: 0.6rem 1.25rem;
        border: 0 none;
        color: #495057;
        background: transparent;
        transition: box-shadow 0.2s;
        border-radius: 0;
        text-align: left;
    }
    .p-dropdown-panel .p-dropdown-items {
         padding: 0rem 0; 
    }

}