<div style="position: fixed;margin-left: 4px;">
    <div id="window" class="window" style="height: 300px; width:calc(100vw - 10px); min-height:calc(100vh - 176px); ">
        <div id="draggable-header" class="top-bar">
            <div class="title">Stok Kart </div>
            <div class="toolbar">
                <button class="item" name="close">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>

        <div class="content" style="overflow-x: scroll;">

            <div class="" style="position: relative;">
                <div id="file-manager" class="dx-filemanager" style="height: 100%; min-height: 450px;">
                    <div class="dx-filemanager-notification-container dx-widget"></div>
                    <div class=" dx-drawer dx-widget dx-visibility-change-handler dx-drawer-slide dx-drawer-right ">
                        <div class="dx-drawer-wrapper">
                            <div class="dx-drawer-content"
                                style="transform: translate(0px, 0px); padding: 0px; left: 0px;">
                                <div class="dx-drawer-shader dx-state-invisible"
                                    style="visibility: hidden; z-index: 1500; opacity: 0;"></div>
                                <div class="dx-filemanager-notification-drawer-panel">
                                    <div class="dx-filemanager-wrapper">
                                        <div class="dx-filemanager-toolbar dx-filemanager-general-toolbar">
                                            <div class="dx-toolbar dx-widget dx-visibility-change-handler dx-collection"
                                                role="toolbar">
                                                <div class="dx-toolbar-items-container">
                                                    <div class="dx-toolbar-before">


                                                        <div id="draggable-header" class="top-bar"
                                                            style="border: none; background-color: transparent;margin-bottom: 0;">
                                                            <div class="title"
                                                                style="background: linear-gradient(to bottom, #ffffff 0%, #bbbbbb 100%); width: 100%; ">
                                                                <div class="ribbon-section"
                                                                    style="height: 36px;margin-bottom: 3px;">
                                                                    <div class="ribbon-button ribbon-button-large"
                                                                        id="add-table-btn" unselectable="on"
                                                                        style="height: 36px;">
                                                                        <img style="width: 30px; height: 30px; "
                                                                            class="ribbon-icon ribbon-normal"
                                                                            src=" ../../assets/icons/actions/folder_add.png">
                                                                        <img style="width: 30px; height: 30px;"
                                                                            class="ribbon-icon ribbon-hot"
                                                                            src=" ../../assets/icons/actions/folder_add.png">
                                                                        <img style="width: 30px; height: 30px;"
                                                                            class="ribbon-icon ribbon-disabled"
                                                                            src=" ../../assets/icons/actions/folder_add.png">

                                                                    </div>

                                                                </div>
                                                                <div class="ribbon-section"
                                                                    style="height: 36px; margin-bottom: 3px;">
                                                                    <div class="ribbon-button ribbon-button-large"
                                                                        id="add-table-btn" unselectable="on"
                                                                        style="height: 36px;">
                                                                        <img style="width: 30px; height: 30px; "
                                                                            class="ribbon-icon ribbon-normal"
                                                                            src=" ../../assets/icons/actions/folder_down.png">
                                                                        <img style="width: 30px; height: 30px;"
                                                                            class="ribbon-icon ribbon-hot"
                                                                            src=" ../../assets/icons/actions/folder_down.png">
                                                                        <img style="width: 30px; height: 30px;"
                                                                            class="ribbon-icon ribbon-disabled"
                                                                            src=" ../../assets/icons/actions/folder_down.png">

                                                                    </div>

                                                                </div>
                                                                <div class="ribbon-section"
                                                                    style="height: 36px; margin-bottom: 3px;">
                                                                    <div class="ribbon-button ribbon-button-large"
                                                                        id="add-table-btn" unselectable="on"
                                                                        style="height: 36px;">
                                                                        <img style="width: 30px; height: 30px; "
                                                                            class="ribbon-icon ribbon-normal"
                                                                            src=" ../../assets/icons/actions/erase_registry.png">
                                                                        <img style="width: 30px; height: 30px;"
                                                                            class="ribbon-icon ribbon-hot"
                                                                            src=" ../../assets/icons/actions/erase_registry.png">
                                                                        <img style="width: 30px; height: 30px;"
                                                                            class="ribbon-icon ribbon-disabled"
                                                                            src=" ../../assets/icons/actions/erase_registry.png">

                                                                    </div>

                                                                </div>




                                                            </div>

                                                        </div>


                                                        <!-- EKLE SİL -->



                                                    </div>

                                                </div>
                                            </div>

                                            <div class="dx-filemanager-view-switcher-popup"></div>
                                        </div>
                                        <div class="dx-filemanager-container ">
                                            <div class="dx-drawer-shrink   ">
                                                <div class="dx-drawer-wrapper">
                                                    <div class="dx-drawer-panel-content dx-drawer-panel-content-initial"
                                                        style="margin-left: 0px;">
                                                        <!-- TREE MENU GELECEK -->
                                                        <!-- I want to convert flat list array to tree view array based on node number in Javascript. -->
                                                        <!-- <div class="directory-list main-content">
                                                            <li>900 * 2000 2 Panel Satine Paslanmaz Kat Mekanizması 
                                                                <ul>
                                                                    <li> Kılıç
                                                                        <ul>
                                                                            <li>Kilit Tekeri</li>
                                                                            <li>CE Tekeri</li>
                                                                            <li>Kilit Göbeği</li>
                                                                            <li>M3x10 Ysb</li>

                                                                            <div style="display: flex; justify-content: end;
                                                                            align-items: center;">Toplam Maliyet : 0 TL</div>
                                                              
                                                                        </ul>
                                                                    </li>
                                                                    <li>Kilit
                                                                        <ul>
                                                                            <li>KİLİT TAMPON LASTİĞİ</li>
                                                                            <li>CİVATALI KİLİT MAKARA PARÇASI</li>
                                                                            <li>KİLİT PİMİ</li>
                                                                            <li>KİLİT KOLU CİVATASI</li>
                                                                            <li>KAYNAKLI KİLİT MAKARA PARÇASI KISA</li>
                                                                            <li>KAYNAKLI KİLİT MAKARA PARÇASI UZUN</li>
                                                                            <div style="display: flex; justify-content: end; ;
                                                                            align-items: center;">Toplam Maliyet : 0 TL</div>
                                                                        </ul>
                                                                    </li>
                                                                    <li>MEKANIZMA SACI</li>
                                                                    <li>TELESKOPİK YAYLAR</li>
                                                                </ul>
                                                            </li>
                                                            <li>item-1</li>
                                                            <li>item-2</li>
                                                        </div> -->

                                                        <ng-template #nodeTemplate let-nodes="nodes" let-tree="tree">
                                                            <ng-container *ngFor="let node of nodes">
                                                                <div class="menu-node"
                                                                    [ngClass]=" { 'menu-node-tree' : tree }"
                                                                    style="position: relative;">
                                                                    <div (click)="toggleVisible(node)"
                                                                        class="menu-node-button "
                                                                        [ngClass]="{ 'menu-node-button-show': node.submenu && node.submenu.length,'menu-node-button-plus': !expand[node.index],'menu-node-button-minus': expand[node.index] } "
                                                                        role="button">
                                                                    </div>
                                                                    <div 
                                                                        class="menu-node-name"
                                                                        [ngClass]="{
                                                                     'menu-node-name-selected': (node === selectedNode),'menu-node-folder':(node.submenu.length>0)}"
                                                                        (click)="selectNode(node)">


                                                                        <img *ngIf="node.submenu.length>0"
                                                                        src=" ../../assets/icons/actions/received_files.png"
                                                                        class="title-icon" alt="">

                                                                        <img *ngIf="node.submenu.length==0"
                                                                        src=" ../../assets/icons/actions/list.png"
                                                                        class="title-icon" alt="">
                                                                        
                                                                        
                                                                        {{ node.title }}
                                                                    </div>
                                                                    <div class="view-icon-content"  (click)="deneme(node)">
                                                                        <img 
                                                                        src=" ../../assets/icons/actions/view_details.png"
                                                                        class="title-icon view-icon" alt="">
                                                                    </div>
                                                                    <ng-container
                                                                        *ngIf="node.submenu && node.submenu.length && expand[node.index] ">
                                                                        <ng-template [ngTemplateOutlet]="nodeTemplate"
                                                                            [ngTemplateOutletContext]="{ nodes: node.submenu, tree: true }">
                                                                        </ng-template>
                                                                    </ng-container>
                                                                </div>
                                                            </ng-container>
                                                        </ng-template>

                                                        <ng-template [ngTemplateOutlet]="nodeTemplate"
                                                            [ngTemplateOutletContext]="{ nodes: menu, tree: false }">
                                                        </ng-template>



                                                        <div class="dx-widget dx-splitter-wrapper dx-splitter-initial">
                                                            <div class="dx-splitter-border">
                                                                <div class="dx-splitter dx-splitter-inactive"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="dx-drawer-content" style="padding: 0px;">
                                                        <div class="dx-drawer-shader dx-state-invisible"
                                                            style="opacity: 1; transition: none 0s ease 0s; visibility: visible;">
                                                        </div>
                                                        <div class=" dx-filemanager-breadcrumbs">
                                                            <div class="dx-menu dx-menu-base" tabindex="0"
                                                                role="menubar">
                                                                <div class="dx-menu-horizontal">

                                                                    <ul role="none" class="dx-menu-items-container">
                                                                        <li role="none" class="dx-menu-item-wrapper">
                                                                            <div class="dx-item dx-menu-item dx-menu-item-has-icon dx-filemanager-breadcrumbs-parent-folder-item"
                                                                                role="menuitem" tabindex="-1">
                                                                                <div
                                                                                    class="dx-item-content dx-menu-item-content ">
                                                                                    <img class="dx-icon  dx-icon-arrowup"
                                                                                        src=" ../../assets/icons/actions/baseline_upgrade_black_24dp.png"
                                                                                        style="width: 30px; height: 30px;opacity: 0.5;"
                                                                                        alt="">

                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li role="none" class="dx-menu-item-wrapper"
                                                                            style="margin-left: -10px;">
                                                                            <div class="dx-item dx-menu-item dx-menu-item-has-text dx-filemanager-breadcrumbs-separator-item"
                                                                                role="menuitem" tabindex="-1">
                                                                                <div
                                                                                    class="dx-item-content dx-menu-item-content">
                                                                                    <span
                                                                                        class="dx-menu-item-text">&nbsp;</span>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li role="none" class="dx-menu-item-wrapper"
                                                                            style="margin: 0 5px;">
                                                                            <div class="dx-item dx-menu-item dx-menu-item-has-text"
                                                                                role="menuitem" tabindex="-1">
                                                                                <div
                                                                                    class="dx-item-content dx-menu-item-content">
                                                                                    <img class="dx-icon"
                                                                                        src=" ../../assets/icons/actions/clipboard_add.png"
                                                                                        style="width: 30px; height: 30px;"
                                                                                        alt="">

                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li role="none" class="dx-menu-item-wrapper"
                                                                            style="margin: 0 5px;">
                                                                            <div class="dx-item dx-menu-item dx-menu-item-has-text"
                                                                                role="menuitem" tabindex="-1">
                                                                                <div
                                                                                    class="dx-item-content dx-menu-item-content">
                                                                                    <img class="dx-icon"
                                                                                        src=" ../../assets/icons/actions/erase_registry.png"
                                                                                        style="width: 30px; height: 30px;"
                                                                                        alt="">

                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li role="none" class="dx-menu-item-wrapper"
                                                                            style="margin: 0 5px;">
                                                                            <div class="dx-item dx-menu-item dx-menu-item-has-text"
                                                                                role="menuitem" tabindex="-1">
                                                                                <div
                                                                                    class="dx-item-content dx-menu-item-content">
                                                                                    <img class="dx-icon"
                                                                                        src=" ../../assets/icons/actions/edit.png"
                                                                                        style="width: 30px; height: 30px;"
                                                                                        alt="">

                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="dx-datagrid ">

                                                            <div class="dx-datagrid-headers "
                                                                style="padding-right: 0px;">
                                                                <div class=" ">
                                                                    <table class=" dx-datagrid-table-fixed">
                                                                        <colgroup>
                                                                            <col style="width: 43px;">
                                                                            <col style="width: 36px;">
                                                                            <col style="width: auto;">
                                                                            <col style="width: 95px;">
                                                                            <col style="width: 110px;">
                                                                            <col style="width: 90px;">
                                                                            <col style="width: 0.0001px;">
                                                                        </colgroup>

                                                                        <tbody>
                                                                            <tr class="dx-row dx-header-row" role="row">
                                                                                <td class="dx-command-select dx-cell-focus-disabled dx-editor-cell dx-editor-inline-block"
                                                                                    role="columnheader"
                                                                                    aria-colindex="1"
                                                                                    style="text-align: center;">
                                                                                    <div class="dx-widget dx-checkbox dx-select-checkbox dx-datagrid-checkbox-size"
                                                                                        aria-label="Select all"
                                                                                        aria-readonly="false"
                                                                                        aria-invalid="false"
                                                                                        role="checkbox"
                                                                                        aria-checked="false"
                                                                                        tabindex="0">
                                                                                        <input type="hidden"
                                                                                            value="false">
                                                                                        <div
                                                                                            class="dx-checkbox-container">
                                                                                            <span
                                                                                                class="dx-checkbox-icon"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="dx-filemanager-details-item-is-directory dx-datagrid-action dx-cell-focus-disabled"
                                                                                    role="columnheader"
                                                                                    aria-colindex="2" id="dx-col-1"
                                                                                    aria-label="Column "
                                                                                    aria-sort="none" tabindex="0"
                                                                                    style="text-align: center;">
                                                                                    <div
                                                                                        class="dx-column-indicators dx-visibility-hidden">
                                                                                        <span
                                                                                            class="dx-sort dx-sort-none"></span>
                                                                                    </div>
                                                                                    <div
                                                                                        class="dx-datagrid-text-content dx-text-content-alignment-left dx-text-content-alignment-right">
                                                                                    </div>
                                                                                    <div class="dx-column-indicators">
                                                                                        <span
                                                                                            class="dx-sort dx-sort-none"></span>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="columnheader"
                                                                                    aria-colindex="3" id="dx-col-2"
                                                                                    aria-label="Column Name"
                                                                                    class="dx-datagrid-action dx-cell-focus-disabled"
                                                                                    aria-sort="none" tabindex="0"
                                                                                    style="text-align: left;">
                                                                                    <div
                                                                                        class="dx-datagrid-text-content dx-text-content-alignment-left">
                                                                                        Name</div>
                                                                                    <div class="dx-column-indicators">
                                                                                        <span
                                                                                            class="dx-sort dx-sort-none"></span>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="columnheader"
                                                                                    aria-colindex="4" id="dx-col-3"
                                                                                    aria-label="Column Category"
                                                                                    class="dx-datagrid-action dx-cell-focus-disabled"
                                                                                    aria-sort="none" tabindex="0"
                                                                                    style="text-align: left;">
                                                                                    <div
                                                                                        class="dx-datagrid-text-content dx-text-content-alignment-left">
                                                                                        Category</div>
                                                                                    <div class="dx-column-indicators">
                                                                                        <span
                                                                                            class="dx-sort dx-sort-none"></span>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="columnheader"
                                                                                    aria-colindex="5" id="dx-col-4"
                                                                                    aria-label="Column Date Modified"
                                                                                    class="dx-datagrid-action dx-cell-focus-disabled"
                                                                                    aria-sort="none" tabindex="0"
                                                                                    style="text-align: left;">
                                                                                    <div
                                                                                        class="dx-datagrid-text-content dx-text-content-alignment-left">
                                                                                        Date Modified
                                                                                    </div>
                                                                                    <div class="dx-column-indicators">
                                                                                        <span
                                                                                            class="dx-sort dx-sort-none"></span>
                                                                                    </div>
                                                                                </td>
                                                                                <td role="columnheader"
                                                                                    aria-colindex="6" id="dx-col-5"
                                                                                    aria-label="Column File Size"
                                                                                    class="dx-datagrid-action dx-cell-focus-disabled"
                                                                                    aria-sort="none" tabindex="0"
                                                                                    style="text-align: right;">
                                                                                    <div class="dx-column-indicators">
                                                                                        <span
                                                                                            class="dx-sort dx-sort-none"></span>
                                                                                    </div>
                                                                                    <div
                                                                                        class="dx-datagrid-text-content dx-text-content-alignment-right">
                                                                                        File Size</div>
                                                                                </td>
                                                                                <td class="dx-command-adaptive dx-cell-focus-disabled dx-command-adaptive-hidden"
                                                                                    role="columnheader"
                                                                                    aria-colindex="7"
                                                                                    style="text-align: center;"
                                                                                    tabindex="-1" aria-hidden="true">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

        </div>


        <div class="footer">
            <div class="content">
                footer
            </div>
            <div id="draggable-resize" class="resize"></div>
        </div>
    </div>

</div>