<app-card-layout layoutName="Stok Kart">

    <div class="sidebar-add-layout-content">

        <div (click)="addNewCardDialog()" class="ribbon-section" style="height: 40px;margin-bottom: 3px;">
            <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/folder_add.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/folder_add.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/folder_add.png">

            </div>

        </div>
        <div  (click)="addChildDialog()" class="ribbon-section" style="height: 40px; margin-bottom: 3px;">
            <div ngClass="{{selectedNode?'':'disabled'&& selectedNode?.submenu==undefined?'disabled':'' }}" class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/folder_down.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/folder_down.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/folder_down.png">

            </div>
        </div>
        <div (click)="updateDialog()" class="ribbon-section" style="height: 40px;margin-bottom: 3px;">
            <div ngClass="{{selectedNode?'':'disabled'&& selectedNode?.submenu==undefined?'disabled':'' }}" class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/edit.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/edit.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/edit.png">

            </div>

        </div>
        <div  (click)="deleteDialog()" class="ribbon-section"
            style="height: 40px; margin-bottom: 3px;">
            <div ngClass="{{selectedNode?'':'disabled'&& selectedNode?.submenu==undefined?'disabled':'' }}" class="ribbon-button ribbon-button-large " id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/delete.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/delete.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/delete.png">

            </div>

        </div>


    </div>

    <div class="sidebar-layout-content">
        <ng-template #nodeTemplate let-nodes="nodes" let-tree="tree">
          
            <ng-container *ngFor="let node of nodes">
                <div class="menu-node" [ngClass]=" { 'menu-node-tree' : tree }" style="position: relative;">
                    <div (click)="toggleVisible(node)" class="menu-node-button "
                        [ngClass]="{ 'menu-node-button-show': node.submenu && node.submenu?.length,'menu-node-button-plus': !expand[node.index],'menu-node-button-minus': expand[node.index] } "
                        role="button">
                    </div>
                    <div class="menu-node-name" [ngClass]="{
                 'menu-node-name-selected': (node === selectedNode),'menu-node-folder':(node.submenu?.length>0)}"
                        (click)="selectNode(node)" (contextmenu)="onContextMenu($event, node)"
                        (contextmenu)="activeNode = node">


                        <img *ngIf="node.submenu?.length>0" src=" ../../assets/icons/actions/received_files.png"
                            class="title-icon" alt="">

                        <img *ngIf="node.submenu==undefined" src=" ../../assets/icons/actions/list.png"
                            class="title-icon" alt="">
                        {{ node.ad }}
                    </div>
                    <ng-container *ngIf="node.submenu && node.submenu?.length && expand[node.index] ">
                        <ng-template [ngTemplateOutlet]="nodeTemplate"
                            [ngTemplateOutletContext]="{ nodes: node.submenu, tree: true }">
                        </ng-template>
                    </ng-container>
                </div>
            </ng-container>

        </ng-template>

        <ng-template [ngTemplateOutlet]="nodeTemplate" [ngTemplateOutletContext]="{ nodes: menu, tree: false }">
        </ng-template>
    </div>

    <div class="table-action-layout-content" style="display: flex;justify-content: space-between; align-items: center; height: 100%;">

        <div style="height: 100%;padding: 5px;">
            <div class="ribbon-section" style="height: 40px;margin-bottom: 3px;">
                <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                    style="height: 40px;">
                    <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                        src=" ../../assets/icons/actions/add.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                        src=" ../../assets/icons/actions/add.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                        src=" ../../assets/icons/actions/add.png">

                </div>

            </div>
            <div class="ribbon-section" style="height: 40px;margin-bottom: 3px;">
                <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on"
                    style="height: 40px;">
                    <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                        src=" ../../assets/icons/actions/delete.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                        src=" ../../assets/icons/actions/delete.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                        src=" ../../assets/icons/actions/delete.png">
                </div>

            </div>
            <div class="ribbon-section" style="height: 40px;margin-bottom: 3px;">
                <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" 
                    style="height: 40px;">
                    <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                        src=" ../../assets/icons/actions/edit.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                        src=" ../../assets/icons/actions/edit.png">
                    <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                        src=" ../../assets/icons/actions/edit.png">

                </div>

            </div>
        </div>

        <div>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedCategory" (click)="radioChange()">
                <mat-radio-button #first value="1" style="font-weight: 500;">Genel Maliyet</mat-radio-button>
                <mat-radio-button value="2">İşçilik</mat-radio-button>
                <mat-radio-button value="3">Malzeme</mat-radio-button>
                <mat-radio-button value="4">Elektrik</mat-radio-button>
            </mat-radio-group>

        </div>
    </div>
    <div class="table-layout-content">
        <div class="table-display-none activeSelectCategori" [class.activeSelectCategori]="selectedCategory==='1'">

            <p-table [value]="treeViewChildList" [tableStyle]="{'min-width': '50rem'}" selectionMode="single"
                [(selection)]="selectedReceteItem" responsiveLayout="scroll" [resizableColumns]="true"
                [scrollable]="true" scrollHeight="calc(100vh - 416px)" columnResizeMode="expand" selectionMode="single"
                (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnSelect()">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: auto;min-width:350px; color: #959595 !important;">
                            Ad</th>
                        <th style="width:350px;color: #959595 !important;">
                            Stok Adı</th>
                        <th style="width:100px;color: #959595 !important;">
                            Recete Turu</th>
                        <th style="width:75px;color: #959595 !important;">
                            Adet</th>
                        <th style="width:75px;color: #959595 !important;">
                            Miktar</th>
                        <th style="width:75px;color: #959595 !important;">
                            Birim Adı</th>
                        <th style="width:75px;color: #959595 !important;">
                            Birim Fiyat</th>
                        <th style="width:75px;color: #959595 !important;">
                           Etkinlik</th>
                        <th style="width:100px;color: #959595 !important;">
                            Top. Maliyet</th>
                    </tr>
                </ng-template>



                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>{{product.ad}}</td>
                        <td>{{product.stokAdi?product.stokAdi:"-"}}</td>
                        <td>
                            <div *ngIf="product.receteTuru=='Yarımamul'" style="color: red; font-weight: 700;">
                                {{product.receteTuru}}
                            </div>
                            <div *ngIf="product.receteTuru!='Yarımamul'">
                                {{product.receteTuru}}
                            </div>


                        </td>
                        <td>{{product.adet}}</td>
                        <td>
                            <div matTooltip="{{product.olcu}}" [matTooltipPosition]="'right'"
                                *ngIf="product.birimAdi!='Adet'">{{product.miktar | number:'1.1-2' }}</div>
                            <div matTooltip="{{product.olcu}}" [matTooltipPosition]="'right'"
                                *ngIf="product.birimAdi=='Adet'">-</div>
                        </td>
                        <td>{{product.birimAdi?product.birimAdi:"-"}}</td>
                        <td>
                            <div *ngIf="product.birimFiyat==0">
                                -
                            </div>
                            <div *ngIf="product.birimFiyat!=0">
                                {{product.birimFiyat|currency:'TRY':'₺':'0.2-2'}}
                            </div>


                        </td>
                        <td>
                           {{product.etkinlik | number:'1.1-2' }}
                        </td>
                        <td style="font-weight: 600; font-size: 16px;">
                            <div *ngIf="product.birimAdi!='Adet'">
                                <div *ngIf="product.birimFiyat *( product.miktar)*(product.adet*product.etkinlik)==0">
                                    -
                                </div>
                                <div *ngIf="product.birimFiyat *( product.miktar)*(product.adet)!=0">
                                    {{product.birimFiyat *( product.miktar)*(product.adet)*product.etkinlik
                                    |currency:'TRY':'₺':'0.2-2'}}
                                </div>
                            </div>
                            <div *ngIf="product.birimAdi=='Adet'">

                                <div *ngIf="product.birimFiyat *(product.adet *(product.etkinlik))==0">
                                    -
                                </div>

                                <div *ngIf="product.birimFiyat *( product.adet)!=0">{{product.birimFiyat *(
                                    product.adet*product.etkinlik)|currency:'TRY':'₺':'0.2-2'}}
                                </div>

                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary" let-product>



                    <div  style="display: flex; justify-content: space-between; align-items: center;">
                        <div >Malzeme Gideri: <span style="color: red;font-weight: 700;"> {{totalHesap |currency:'TRY':'₺':'0.2-2'}}</span> </div>
                        <div >İşçilik Gideri: <span style="color: red;font-weight: 700;"> {{totalHesapIscilik |currency:'TRY':'₺':'0.2-2'}}</span> </div>
                        <div >Elektrik Gideri: <span style="color: red;font-weight: 700;"> -</span> </div>
                        <div >Su + Yemek Gideri : <span style="color: red;font-weight: 700;"> -</span> </div>
                        <div >GENEL MALİYET : <span style="color: red;font-weight: 700;font-size: 16px; ">{{totalHesap+totalHesapIscilik|currency:'TRY':'₺':'0.2-2'}}</span> </div>
                    </div>
                </ng-template>

            </p-table>


        </div>

        <div class="table-display-none activeSelectCategori" [class.activeSelectCategori]="selectedCategory==='2'">

            <p-table [value]="treeViewChildIscilikList" [tableStyle]="{'min-width': '50rem'}" selectionMode="single"
                [(selection)]="selectedReceteItem" responsiveLayout="scroll" [resizableColumns]="true"
                [scrollable]="true" scrollHeight="calc(100vh - 416px)" columnResizeMode="expand" selectionMode="single"
                (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnSelect()">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: auto;min-width:150px; color: #959595 !important;">
                            Reçete Adı</th>
                        <th style="width:100px;color: #959595 !important;">
                            G. U. Sayısı</th>

                        <th style="width:100px;color: #959595 !important;">
                            Ç. Sayısı</th>

                        <th style="width:100px;color: #959595 !important;">
                            G. Ç. saati</th>

                        <th style="width:100px;color: #959595 !important;">
                            K.B.A. Brüt Ücret</th>
                        <th style="width:100px;color: #959595 !important;">
                            Toplam İşçilik Gideri</th>
                    </tr>
                </ng-template>



                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product">
                        <td>{{product.receteAdi}}</td>
                        <td>{{product.gunlukUretimSayisi}}</td>
                        <td>{{product.calisanSayisi}}</td>
                        <td>{{product.gunlukCalismaSaati}}</td>
                        <td>{{product.kisiBasiAylikBrutUcret}}</td>
                        <td>
                            {{(product.gunlukCalismaSaati/product.gunlukUretimSayisi)*(product.calisanSayisi*product.kisiBasiAylikBrutUcret/240) |currency:'TRY':'₺':'0.2-2'}}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary" let-product>
               
                        <div>Genel Maliyet : {{totalHesapIscilik|currency:'TRY':'₺':'0.2-2'}} TL</div>
                        
          
                </ng-template>

            </p-table>


        </div>

    </div>
</app-card-layout>

<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>


<mat-menu #contextMenu="matMenu">
    <!-- <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    <button mat-menu-item >Invertebrates</button> -->
  
    <ng-template matMenuContent let-item="item">
      <button mat-menu-item  [matMenuTriggerFor]="iscilik">
          <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
          src=" ../../assets/icons/iscilik/operator.png">
        <span>İşçilik</span>
      </button>
  
      <button mat-menu-item [matMenuTriggerFor]="elektrik">
          <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
          src=" ../../assets/icons/elektrik/electricity.png">
        <span>Elektrik</span>
      </button>
    </ng-template>
    
  </mat-menu>
  
  <mat-menu #iscilik="matMenu">
  
    <button mat-menu-item>         <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
      src=" ../../assets/icons/iscilik/operator_add.png"><span>Ekle</span> </button>
    <button mat-menu-item>         <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
      src=" ../../assets/icons/iscilik/operator_close.png"><span>Sil</span> </button>
  </mat-menu>
  
  <mat-menu #elektrik="matMenu">
  
    <button mat-menu-item>         <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
      src=" ../../assets/icons/elektrik/electricity_add.png"><span>Ekle</span> </button>
    <button mat-menu-item>         <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
      src=" ../../assets/icons/elektrik/electricity_close.png"><span>Sil</span> </button>
  </mat-menu>