<dialog-action>
    <button (click)="onSubmit($event)" class="done_outline" autofocus="false" mat-button>
        <mat-icon class="big-icon" style="font-size: 25px;">done_outline</mat-icon>
    </button>

    <button class="clear" autofocus="false" mat-dialog-close mat-button>
        <mat-icon class="big-icon" style="font-size: 25px;">clear</mat-icon>
    </button>
</dialog-action>





<form-content formTitle="Stok Kart">
    <form class="form" [formGroup]="frm">
        <common-input label="Ad" [formControlNames]="name"></common-input>
        <stok-select-input label="Stok" [formControlNames]="stokId" (childFunc)="stokFunc($event)"></stok-select-input>


        <div style="display: flex; gap: 10px;">
            <common-input type="number" valueInput="0" label="Miktar" [formControlNames]="miktar"></common-input>
            <common-input type="number" valueInput="0" label="Adet" [formControlNames]="adet"></common-input>
        </div>
        <common-input label="Olcu" [formControlNames]="olcu"></common-input>
        <stok-turu-dropdown [formControlNames]="stokTuru"></stok-turu-dropdown>
    </form>
</form-content>