<div id="popup" class="pop-up" style="z-index: 999999;">
    <div id="popup-header" class="top-bar">
        <div class="title">Uyarı !</div>

        <div class="toolbar">

            <div class="close-dialog">
                <button class="item" name="close" (click)="close()">
                    <i class="fa fa-close"></i>
                </button>
            </div>

        </div>

    </div>
    <div class="content">
        <div style="color: rgb(117, 1, 1);">
            Silmek istediğiniz Eminmisiniz
        </div>
    </div>
    <div class="button-group center">
        <button [mat-dialog-close]="data">Evet</button>
        <button (click)="close()">Vazgeç</button>
       
    </div>
</div>