<app-content-layout layoutName="Stok Listesi" [tableActions]="true">

    <div class="table-action-layout-content">



        <div class="ribbon-section" style="height: 40px;margin-bottom: 3px; margin-left: 10px;">
            <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 40px;">
                <img style="width: 30px; height: 30px; " class="ribbon-icon ribbon-normal"
                    src=" ../../assets/icons/actions/edit.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-hot"
                    src=" ../../assets/icons/actions/edit.png">
                <img style="width: 30px; height: 30px;" class="ribbon-icon ribbon-disabled"
                    src=" ../../assets/icons/actions/edit.png">

            </div>

        </div>



    </div>
    <div class="table-layout-content">

        <div class="content-detay" style="position: relative;">
            STOK LİSTESİ

            <div style="position: absolute; right: 0; font-size: 12px;">
                Stok Sayısı: <span style="color: red;">{{totalStok | number:'1.0-2' }} kayıt </span>
            </div>
        </div>
        <div class="table-display-none activeSelectCategori">
            <p-table #dt [value]="dataSource" [tableStyle]="{'min-width': '50rem'}" styleClass="p-datatable-striped"
                selectionMode="single" frozenWidth="1200px" [(selection)]="selectedItem" dataKey="id"
                responsiveLayout="scroll" [resizableColumns]="false" [scrollable]="true"
                scrollHeight="calc(100vh - 345px)" columnResizeMode="expand" selectionMode="single"
                (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnSelect()">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 350px; color: #959595 !important;">Stok Adı</th>
                        <th style="width:150px;color: #959595 !important;">Ürün Grubu</th>
                        <th style="width:150px;color: #959595 !important;">Tip</th>
                        <th style="width:150px;color: #959595 !important;">Durum</th>
                        <th style="width:130px;color: #959595 !important;">Malzeme Maliyeti</th>
                        <th style="width:130px;color: #959595 !important;">İşçilik Maliyeti</th>
                        <th style="width:130px;color: #959595 !important;">Diğer Giderler</th>
                        <th style="width:auto; min-width: 150px;color: #959595 !important;">Toplam Mliyet</th>
                    </tr>
                    <tr>

                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                        <th>
                            <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                                (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr [pSelectableRow]="product"
                        [style]="product.durum==false?'background-color: rgb(227 227 227)':''"
                        [pSelectableRow]="product" [pSelectableRowIndex]="product"
                        [pSelectableRowDisabled]="product.durum==false?true:false">
                        <td>{{product.ad}}</td>
                        <td>{{product.urunGrubu}}</td>
                        <td>{{product.tip}}</td>
                        <td>{{product.durum}}</td>
                        <td>{{product.birimFiyat |currency:'TRY':'₺':'0.2-2'}}</td>
                        <td>{{product.aciklama}}</td>
                        <td>{{product.aciklama}}</td>
                        <td>{{product.aciklama}}</td>
                    </tr>
                </ng-template>



            </p-table>





        </div>




    </div>
</app-content-layout>