<dialog-action>
    <button (click)="onSubmit($event)" class="done_outline" autofocus="false" mat-button>
        <mat-icon class="big-icon" style="font-size: 25px;">done_outline</mat-icon>
    </button>

    <button class="clear" autofocus="false" mat-dialog-close mat-button>
        <mat-icon class="big-icon" style="font-size: 25px;">clear</mat-icon>
    </button>
</dialog-action>





<form-content formTitle="Birim">
    <form class="form" [formGroup]="frm">
        <common-input label="Kod" [formControlNames]="kod" [field]="data.kod"></common-input>
        <common-input label="Ad" [formControlNames]="ad" [field]="data.ad"></common-input>
        <common-input label="Açıklama" [formControlNames]="aciklama" [field]="data.aciklama"></common-input>
    </form>
</form-content>