<!-- Fİle Tab için  id:ribbon olan div de  class="backstage" olması gerekiyor -->

<!-- <div id="ribbon" unselectable="on">
    <span class="ribbon-window-title" unselectable="on">YÜKSELİŞ ASANSÖR</span>
    <div id="ribbon-tab-header-strip" unselectable="on">
        <div id="ribbon-tab-header-0" class="ribbon-tab-header file " unselectable="on"><span class="ribbon-title"
                unselectable="on">File</span></div>
        <div id="ribbon-tab-header-1" class="ribbon-tab-header active" unselectable="on"><span class="ribbon-title"
                unselectable="on">Stok</span></div>
        <div ngClass="{'active': toggle}" id="ribbon-tab-header-2" class="ribbon-tab-header" unselectable="on"><span
                class="ribbon-title" unselectable="on">Depo</span></div>
    </div>
    <div class="ribbon-tab file" id="file-tab" style="display: none;" unselectable="on">

        <div class="ribbon-backstage" unselectable="on">
            This is the Backstage.<br><br>

            <div class="button big" unselectable="on">
                <img src=" ../../assets/icons/normal/open-page.png" alt="Open">
                <span class="label" unselectable="on">Open</span>
                <span class="desc" unselectable="on">Open a document from your computer</span>
            </div><br>
            <div class="button big" unselectable="on">
                <img src=" ../../assets/icons/normal/save-page.png" alt="Save">
                <span class="label" unselectable="on">Save</span>
                <span class="desc" unselectable="on">Save your document to your computer</span>
            </div>
        </div>
    </div>

    <div style="display: block; height: 100px;">
        <app-stok-tab></app-stok-tab>

    </div>

    <div style="position: fixed;">
<router-outlet></router-outlet> 
    </div>
</div> -->

<div id="ribbon" unselectable="on">

    <tabs>
        <tab tabTitle="Stok">
            <app-stok-tab></app-stok-tab>
        </tab>
        <tab tabTitle="Fatura">Fatura</tab>
        <tab tabTitle="Satınalma">Satınalma</tab>
    </tabs>

    <div style="position: fixed;">
        <router-outlet></router-outlet>
    </div>
</div>