<!-- <app-dialog *ngIf="confirmDialogService.showDialog==true"></app-dialog>
<div *ngIf="confirmDialogService.showDialog" class="popup-background">

</div> -->
<tabs>
    <tab tabTitle="Stok">
        <app-stok-tab></app-stok-tab>
    </tab>
    <tab tabTitle="Satınalma">
        <app-satinalma-tab></app-satinalma-tab>
    </tab>
    <tab tabTitle="Maliyet">
        <app-maliyet-tab></app-maliyet-tab>
    </tab>
    <tab tabTitle="Satış">
        <app-satis-tab></app-satis-tab>
    </tab>
    <tab tabTitle="Üretim">
        <app-uretim-tab></app-uretim-tab>
    </tab>
</tabs>

<div style="position: fixed; margin-top: 140px;">
    <router-outlet></router-outlet>
</div>