<div style="display: grid; grid-template-columns: 80px 100px;margin: 5px 5px; ">

   <div style="background-color: #fbfbfb;display: flex;
 align-items: center;justify-content: space-between;padding: 0 0.5rem;">
     Stok Türü<span>: </span>
   </div>
 
<select (change)="changeValue()" class="form-control" id="exampleCategory" required [(ngModel)]="selectedValue" 
     [formControl]="formControlNames">
 
     <option *ngFor="let category of categoryTypes" [ngValue]="category">{{category.type}}</option>
   </select> 
 
   <!-- <p-dropdown (change)="changeValue()" [options]="categoryTypes" [(ngModel)]="selectedValue" optionLabel="type"  [formControl]="formControlNames"></p-dropdown>
  -->
   <!-- <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
     <ng-template let-country pTemplate="item">
         <div class="country-item">
             <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
             <div>{{country.name}}</div>
         </div>
     </ng-template>
 </p-autoComplete> -->
 
 </div>