<div class="ribbon-tab" id="format-tab" style="display: block; height: 93px;" unselectable="on">

    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Kartlar</span>
        <div [routerLink]="['/uretim/urun-agaci-kart']" [routerLinkActive]="['active']" class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will add a table to your document.</span>
            <img style="width: 36px; height: 36px; opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/work_breakdown_structure.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/work_breakdown_structure.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/work_breakdown_structure.png">
            <span class="button-title" unselectable="on">Ürün<br>Ağacı</span>
        </div>
        <div  class="ribbon-button ribbon-button-large" id="open-table-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will open a table and add it to your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/functional_prototype.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/functional_prototype.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/functional_prototype.png">
            <span class="button-title" unselectable="on">Operasyon</span>
        </div>
        <div  class="ribbon-button ribbon-button-large " id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/industry.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/industry.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/industry.png">
            <span class="button-title" unselectable="on">İş<br>Merkezi</span>
        </div>
        <div  class="ribbon-button ribbon-button-large " id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img  style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/manufacturing.png">
            <img  style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/manufacturing.png">
            <img  style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/manufacturing.png">
            <span class="button-title" unselectable="on">Tezgah<br>Sınıfları</span>
        </div>
        <div  class="ribbon-button ribbon-button-large " id="del-table-btn" unselectable="on">
            <span class="button-help" unselectable="on">This button will remove the selected table from your
                document.</span>
            <img  style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/tool.png">
            <img  style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/tool.png">
            <img  style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/tool.png">
            <span class="button-title" unselectable="on">Tezgahlar</span>
        </div>
    </div>
    <div class="ribbon-section-sep" unselectable="on"></div>

    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Hareketler</span>
        <div class="ribbon-button ribbon-button-large disabled" id="add-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will add a page to your document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/operator_config.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/operator_config.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/operator_config.png">
            <span class="button-title" unselectable="on">İş <br>Emri</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="open-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will open a page and add it to your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;"class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/operator_add.png">
            <img style="width: 36px; height: 36px;"class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/operator_add.png">
            <img style="width: 36px; height: 36px;"class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/operator_add.png">
            <span class="button-title" unselectable="on">Toplu<br>İş Emri</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/operator_check.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/operator_check.png">
            <img style="width: 36px; height: 36px; opacity: 0.5;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/operator_check.png">
            <span class="button-title" unselectable="on">Toplu<br>İş E.Grç</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/operator_down.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/operator_down.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/operator_down.png">
            <span class="button-title" unselectable="on">Alınan Sip.<br>İş Emri</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/operator_edit.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/operator_edit.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/operator_edit.png">
            <span class="button-title" unselectable="on">Ü.Talep<br>İş Emri</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/hard_hat_add.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/hard_hat_add.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/hard_hat_add.png">
            <span class="button-title" unselectable="on">Üretim <br>Talebi</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/hard_hat_next.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/hard_hat_next.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/hard_hat_next.png">
            <span class="button-title" unselectable="on">Toplu Ür.<br>Talebi</span>
        </div>
        <div class="ribbon-button ribbon-button-large disabled" id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/opportunity_cost.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/opportunity_cost.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/opportunity_cost.png">
            <span class="button-title" unselectable="on">Maliyet<br>Hesabı</span>
        </div>
    </div>
    <div class="ribbon-section-sep" unselectable="on"></div>

    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Listeler</span>
        <div  class="ribbon-button ribbon-button-large" id="add-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will add a page to your document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/terminate_process_help.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/terminate_process_help.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/terminate_process_help.png">
            <span class="button-title" unselectable="on">Mlz.<br>İhtiyaç</span>
        </div>
        <div  class="ribbon-button ribbon-button-large" id="open-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will open a page and add it to your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;"class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/work_breakdown_structure_clock.png">
            <img style="width: 36px; height: 36px;"class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/work_breakdown_structure_clock.png">
            <img style="width: 36px; height: 36px;"class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/work_breakdown_structure_clock.png">
            <span class="button-title" unselectable="on">Ürün<br>Ağacı</span>
        </div>
        <div class="ribbon-button ribbon-button-large " id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;  opacity: 0.9;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/administrator_clock.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/administrator_clock.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/administrator_clock.png">
            <span class="button-title" unselectable="on">Üretim<br>Planı</span>
        </div>
        <div  class="ribbon-button ribbon-button-large " id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/design_team_clock.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/design_team_clock.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/design_team_clock.png">
            <span class="button-title" unselectable="on">İş<br>Emri <mat-icon>arrow_drop_down</mat-icon></span>
        </div>


    </div>
    <div class="ribbon-section-sep" unselectable="on"></div>

    <div class="ribbon-section" unselectable="on" style="border-right: 1px solid #939393;">
        <span class="section-title" unselectable="on">Tanımlar</span>
        <div  class="ribbon-button ribbon-button-large " id="del-page-btn" unselectable="on">

            <span class="button-help" unselectable="on">This button will remove the selected page from your
                document.</span>
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-normal" src=" ../../assets/icons/uretim/our_process_2.png">
            <img style="width: 36px; height: 36px;" class="ribbon-icon ribbon-hot" src=" ../../assets/icons/uretim/our_process_2.png">
            <img style="width: 36px; height: 36px; " class="ribbon-icon ribbon-disabled" src=" ../../assets/icons/uretim/our_process_2.png">
            <span class="button-title" unselectable="on">Üretim<br><mat-icon>arrow_drop_down</mat-icon></span>
        </div>
       
    </div>


</div>


