.popup {
	font-size: 12px;
	background-color: #BDBDBD;
	border-bottom: 1px solid #1F1F1F;
	border-right: 1px solid #1F1F1F;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	position: absolute;
	padding: 3px;
	display: flex;
	flex-direction: column;

}


.popup .top-bar {
	background: linear-gradient(to right, #2f3988 0%, #3384c8 100%);
	padding: 2px;
	background-color: #BDBDBD;
	cursor: move;
	color: white;
	margin-bottom: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}


 .popup .toolbar {
	display: flex;
	flex-direction: row;


}


.popup .toolbar .item {
	padding: 0 3px;
	flex-grow: 1;
	cursor: default;
	display: flex;
	border-bottom: 1px solid #1F1F1F;
	border-right: 1px solid #1F1F1F;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	background-color: #BDBDBD;
	color: black;
	min-width: 15px;
	justify-content: center;
	align-items: center;
}


.popup .toolbar .footer {
	padding-top: 3px;


}


.popup .toolbar .footer .content {
	background-color: #BDBDBD;
	border-bottom: 1px solid #1F1F1F;
	border-right: 1px solid #1F1F1F;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	width: 100%;
	padding: 2px;
}


.popup {
	top: 50%;
	left: 43%;
	min-width: 200px;



}

.popup .toolbar .item {
	color: #8B8B8B;
}

.popup .content {
	padding: 5px 10px;
}

.popup .button-group {
	width: 100%;
	display: flex;
	padding: 5px 10px 10px 10px;
}

.popup .button-group.center {
	justify-content: center;
}

.popup .button-group button {
	background: #BDBDBD;
	border-bottom: 1px solid #1F1F1F;
	border-right: 1px solid #1F1F1F;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	outline: none;
	padding: 3px 7px;
	margin-right: 7px;


}

.popup .button-group button:active {
	border-bottom: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-top: 1px solid #1F1F1F;
	border-left: 1px solid #1F1F1F;
}

.popup .button-group button:last-child {
	margin-right: 0;
}


