
:host ::ng-deep {
    .p-datatable .p-datatable-tbody > tr {
        background: #ffffff;
        color: #495057;
        transition: box-shadow 0.2s;
        height: 22px !important;
    }
    .p-datatable .p-datatable-tbody>tr>td {
        text-align: left;
        border: 1px solid #dee2e6;
        border-width: 0 1px 1px 0;
        padding: 0px 0px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 700;

        .p-button.p-button-icon-only.p-button-rounded {
            border-radius: 50%;
            height: 20px;
        }
        .p-button.p-button-icon-only {
            width: 20px;
            padding: 0rem 0;
        }
    }
    
    .p-datatable .p-datatable-thead>tr>th {

            text-align: left;
            padding: 0.2rem 0.7rem 0.2rem 0.3rem !important;
            border-width: 0 0px 1px 0 !important;
            font-weight: 600;
            color: #343a40 !important;
            background: #f8f9fa;
            transition: box-shadow 0.2s !important;
            position: relative;

        .p-inputtext {

            height: 20px !important;
            font-size: 12px;
            border-radius: 0;
            width: 100%;
        }


    }
    .p-datatable .p-datatable-thead>tr>td>{
        .p-inputtext {
            padding: 0.25rem 0.75rem !important;
            width: 100% !important;
            border-radius: 0 !important;
            border-width: 0 0 1px 0 !important;
            color: black !important;
            font-weight: 700 !important;
            border-radius: 0 !important;
        }
    }

    .p-datatable-container-grid{
        display: grid;
        grid-template-rows: 0px auto;
        height: calc(100vh - 210px);
        overflow-x: scroll;
    }

    
    .p-datatable .p-sortable-column .p-sortable-column-icon {
        display: none;
    }

    .p-datatable .p-datatable-tbody>tr.p-highlight {
        background: #8abdff !important;
        color: #1D4ED8;
    }
    .p-scroller {
        contain: none !important;
    }
}


