
// @import "../node_modules/primeflex/primeflex.scss";
/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';




html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 a {
    text-decoration: none;
    color: rgb(70, 70, 70);
}


  .mat-menu-content:not(:empty){
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-elevation-z4 {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.mat-menu-panel{
  border-radius: 1px !important;
}
.mat-dialog-container{
  padding: 0 !important;
}




.mat-menu-item {

  line-height: 36px !important;
  height: 36px !important;
  padding: 0 0px !important;

}

.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 0px !important;
  outline: 0;
  min-height: 100% !important ; 

}





 
