
// @import "../node_modules/primeflex/primeflex.scss";





html, body { height: 100%; }
 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 a {
    text-decoration: none;
    color: rgb(70, 70, 70);
}


  .mat-menu-content:not(:empty){
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-elevation-z4 {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.mat-menu-panel{
  border-radius: 1px !important;
}