

   





<app-normal-dialog-content layoutName="Stok Select" [tableActions]="false" [topActions]="false">


  <div class="close-dialog">
    <button class="item" name="close" mat-dialog-close>
      <i class="fa fa-close"></i>
    </button>
  </div>




  <div class="table-layout-content">

    <div class="content-detay" style="position: relative;">
      STOK SEÇİM LİSTESİ

      <div style="position: absolute; right: 0; font-size: 12px;">
        Stok Sayısı : <span style="color: red;">{{10000000 | number:'1.0-2' }} </span>
      </div>
    </div>
    <div class="table-display-none activeSelectCategori">

      <p-table #dt [value]="dataSource" responsiveLayout="scroll" [resizableColumns]="true" columnResizeMode="expand"
        [scrollable]="true" [virtualScroll]="true" [virtualScrollItemSize]="46" selectionMode="single" [(selection)]="selectedCari" dataKey="id"
          (onRowSelect)="onRowSelect($event)" [(contextMenuSelection)]="selectedCari">
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width:150px;" pSortableColumn="kod">Kod <p-sortIcon field="kod"></p-sortIcon></th>
              <th style="min-width:300px;" pSortableColumn="ad">Ad <p-sortIcon field="ad"></p-sortIcon></th>   
              <th style="min-width:100px;" pSortableColumn="aciklama">Açıklama<p-sortIcon field="aciklama"></p-sortIcon>
              </th>
            </tr>
            <tr>
              <th>
                <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                  (input)="dt.filter(getFilter($event),'kod', 'contains')" class="p-column-filter">
              </th>
              <th>
                <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                  (input)="dt.filter(getFilter($event),'ad', 'contains')" class="p-column-filter">
              </th>
              <th>
                <input style="padding: 5px 10px;width: 100%;" pInputText type="text"
                  (input)="dt.filter(getFilter($event),'aciklama', 'contains')" class="p-column-filter">
              </th>
    
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex">
            <tr (dblclick)="selectedDbClickCari(customer)" [pContextMenuRow]="customer" [pSelectableRow]="customer">
    
              <td style="width: 100px;">{{customer.kod}}</td>
              <td>{{customer.ad}}</td>
              <td>{{customer.aciklama}}</td>
            </tr>
          </ng-template>
        </p-table>

    </div>




  </div>

  <div class="form_actions">
    <div style="width: 100%;display: flex;;
    align-items: center;">
      <div class="ribbon-button ribbon-button-large" id="add-table-btn" unselectable="on" style="height: 27px;
      /* display: flex; */
      align-items: center;
      gap: 5px;
      /* margin: 5px; */
      border: 1px solid #515050;
      position: absolute;
      right: 0;
      top: 5px;">
        Tamam
      </div>
    </div> 
  </div> 
</app-normal-dialog-content>